/* 
Kronos/Date Transformer 2000
Made by Evan Moulson!
This is version 0.3
*/

body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 20vmin;
}

.column {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 800px) {
  ._3 {
    flex: 3;
  }

  ._7 {
    flex: 7;
  }
}

input {
  width: 90%;
  font-size: 5vw;
  font-weight: 300;
  color: #d3d9dd;
  outline: 0;
  border: none;
  border-bottom: 0.3vmin solid #d3d9dd;
  background: rgba(0, 0, 0, 0);
  margin: 4vh 0 0vh 2vmin;
  display: block;
}

.local_tz {
  font-size: 2vmin;
  font-weight: 300;
  font-style: italic;
  color: #a0a0a0;
  margin: .7vh 0 3vmin 2vmin;
  display: block;
}

.row.top {
  background: #1A343D;
}

.column.label {
  background: #4EBFDF;
}

.tz_label {
  font-size: 6vmin;
  margin: 5vmin 1vmin 5vmin 2vmin;
}

.geo_emoji {
  display: inline-block;
}

.geo_name {
  font-weight: 700;
  color: #FFFFFF;
  margin-left: 5%;
  display: inline-block;
}

.tz_time {
  font-size: 5vmin;
  font-weight: 300;
  color: #1A343D;
  margin: 2vmin 0 0 2vmin;
  display: block;
}

.tz_iso_time {
  font-size: 3vmin;
  font-weight: 300;
  font-style: italic;
  color: #a0a0a0;
  margin: 0 0 2vmin 2vmin;
  display: block;
}
